#container{
    position: relative;
    top:30px;
    outline:2px solid #000;
    font-size: 0;
    margin:auto;
    height: 600px;
    width:600px;
    padding:0;
    border:none;
    background-color: #000;
   
}
.newGrid{
    border:1px;
    border-radius: 20px;
    padding:10px;
    margin:0 auto;
    display: block;
    background-color: blueviolet;
    color:#fff;
    
}
h1{
    text-align: center ;
}
.grid{
    display: inline-block;
    background-color: #1C86EE;
    border:none;
    margin:0px;
    padding: 0px;
    box-sizing: content-box;
}